<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="student"
		class=" com.prowing.spring.SpringCoreProject.Student" p:id="100"
		p:name="manoj" p:address="kundane">
		<!-- <property name="id" value="100"></property> <property name="name" 
			value="shital"></property> <property name="address" value="pune"></property> -->

	</bean>
</beans>